.column-link {
    display: flex;
    align-items: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    transition: opacity linear 0.5s;
  }

.column-link:hover {
    opacity: 0.6;
}